{% extends 'base.html' %}
{% load cart %}
{% block title %}Cart{% endblock title %}
{% block content %}
<div class="container my-3 text-center">
    <table class="table table-success table-striped-columns">
        <tr>
            <th>Sno.</th>
            <th>Product Name</th>
            <th>Product Image</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total Price</th>
        </tr>
        {% for cart in cart_dtls  %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{cart.pro_name}}</td>
                <td>
                    <img src="{{cart.pro_image.url}}" alt="" width=50 height=50>
                </td>
                <td>Rs.{{cart.pro_price}}</td>
                <td>{{cart|cart_quantity:request.session.cart}}</td>
                <td>Rs.{{cart|total_price:request.session.cart}}</td>
            </tr>
        
        
        {% endfor %}
        <tr>
            <td colspan=4>
                <h3>Payable Amount</h3>
            </td>
            <td>
               Rs.{{cart_dtls|payable_amt:request.session.cart}}
            </td>
            <td>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        checkout
                </button>
            </td>
        </tr>
    </table>

</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Checkout</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{% url 'checkout' %}" method = "post">
          {% csrf_token %}
          <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Address</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter Your Address" name ="address">
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Mobile</label>
            <input type="number" class="form-control" id="formGroupExampleInput2" placeholder="Enter Your Mobile" name= "mobile">
          </div>
          <button types="submit" value="cehckout" class="btn btn-primary">cehckout</button>
        </form>
      </div>
      
    </div>
  </div>
</div>

{% endblock content %}
